
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@plugin "daisyui";

body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaCompressed";
  src: url("/fonts/helvetica-compressed.otf") format("opentype");
}

.helvetica-compressed {
  font-family: "HelveticaCompressed";
}

[data-theme="light"] {
  body {
    background-color: rgb(250, 250, 250);
  }

  .text-color {
    color: black;
  }
}
[data-theme="dark"] {
  body {
    background-color: rgb(0, 0, 0);
  }

  .text-color {
    color: white;
  }
}

/* Default navbar link style */
/* .nav-link {
  font-size: 20px;
  font-family: "HelveticaCompressed";
  transition: 0.2s ease-in-out;
} */

/* Active link style (Figma: Lime background, bold, dark text) */
/* .nav-active {
  font-size: 20px;
  font-family: "HelveticaCompressed";
} */
/* Example: renamed to .my-list-gap */
.square-nav {
  font-family: "HelveticaCompressed";
  font-size: 18px;
  color: black;
  background: transparent; /* No background */
  border-radius: 0; /* Square corners */
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.square-nav-normal {
  
  font-size: 18px;
  color: black;
  background: transparent; /* No background */
  position: relative;
  overflow: hidden;
  cursor: pointer;
  
  border: 2px solid black;
}




